
<%-include('partials/_main-reg')%>
<body>
    <div class="baner">
        <h1>SU DINERO EN BUENAS MANOS</h1>
        <p>Disponemos de la mejor seguridad bancaria y el mejor servicio al cliente</p>
    </div>

    <h1>Compromiso con nuestros clientes</h1>
    <p>puede comunicaerse con nosotros las 24 hrs si tiene dudas sobre nuestro servicio</p>
    <h1>Registrese y cree una cuenta</h1>
    <p>solo le tomara unos segundos y consta de unos sensillos pasos! </p>

</body>

<%-include('partials/_footer'); %>