<%-include('partials/_main-reg')%>
<body>
    <div class="card despedida">
        <h1>Sesion cerrada</h1>
        <p>Gracias por utilizar nuestro servicio</p>
    </div>
    
</body>
<%-include('partials/_footer'); %>