<!--NAV SIN INGRESAR A LA CUENTA-->
<nav class="navbar navbar-block nav-main">
    <ul>
        <li><a class="logo" href="/"><img src="/img/bank-new.png" alt=""></a></li> 
        <li class="nav-item"><i>BANK</i></li>
        <li class="nav-item">
            <a href="/ingresar">Ingresar</a>
        </li>
        <li class="nav-item">
            <a href="/registro">Registrar</a>
        </li>
        <li class="nav-item">
            <a href="/about">About</a>
        </li>
        <li class="nav-item">
            <a href="/">Home</a>
        </li>
    </ul>
</nav>